##############################################################################
# Grafana Datasource Provisioning - DGX Spark Cluster
##############################################################################

apiVersion: 1

datasources:
  ##############################################################################
  # Prometheus - Primary Metrics Source
  ##############################################################################
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.48.0"
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m
      exemplarTraceIdDestinations:
        - name: traceID
          datasourceUid: tempo

  ##############################################################################
  # Alertmanager - Alert Management
  ##############################################################################
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false
